footer{
    padding: 40px 0px 20px;
    background-color: black;
    color: var(--btn);
}
ul{
    list-style: none;
    text-align: start;
}
li{
    font-size: 25px;
}
ul li a{
    text-decoration: none;
    font-size: 15px;
    color: #fff;
    font-weight: 500;
    display: flex;
    gap: 5px;
    align-items: center;
}
.footLink:hover{
    color: var(--btn);
}